// ##### Alert Objects ##### //

%o-alert {
  padding: 0.5em;
  border: 1px solid $color-light-gray;
}

.o-alert1 {
  @extend %o-alert;
  display: inline-block;
  margin-right: $spacing-sm;
  margin-bottom: $spacing-sm;
  font-size: 0.9em;
}

%o-alert2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  transition: height 1s;
  background-color: $color-orange;
  overflow: hidden;
}

.o-alert2 {
  @extend %o-alert2;
  height: 3em;
}

.o-alert2--close {
  @extend %o-alert2;
  height: 0;
}

.o-alert2__text {
  color: $color-white;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  word-spacing: 0.2em;
}

.o-alert2__button {
  flex: 0 0 auto;
  padding: 0.3em 0.5em 0.3em 1.8em;
  border: 1px solid $color-light-gray;
  border-radius: $round-corner;
  background: $color-white inline('../images/icon_close.svg') no-repeat left 0.5em center / 0.9em;
}
