// ##### Alert Objects ##### //

%o-alert {
  padding: 0.5em;
  border: 1px solid $color-light-gray;
}

.o-alert1 {
  @extend %o-alert;
  display: inline-block;
  margin-right: $spacing-sm;
  margin-bottom: $spacing-sm;
  font-size: 0.9em;
}

%o-alert2 {
  display: flex;
  align-items: center;
  margin: (-$spacing-sm) (-$spacing-sm) $spacing-sm;
  padding: 0 1em;
  transition-duration: 0.5s;
  transition-property: max-height, opacity;
  background-color: $color-orange;
  overflow: hidden;
}

.o-alert2 {
  @extend %o-alert2;
  height: auto;
  max-height: 100px; // approx value for now
  opacity: 1;
}

.o-alert2--close {
  @extend %o-alert2;
  max-height: 0;
  opacity: 0;
}

.o-alert2__main-text {
  margin-right: 1em;
  color: $color-white;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  word-spacing: 0.2em;
}

.o-alert2__more-info {
  margin-right: 1em;
  font-size: 1.1em;

  a {
    color: $color-dark-blue;
  }

}

.o-alert2__button {
  flex: 0 0 auto;
  margin-left: auto;
  padding: 0.3em 0.5em 0.3em 1.8em;
  border: 1px solid $color-light-gray;
  border-radius: $round-corner;
  background: $color-white inline('../images/icon_close.svg') no-repeat left 0.5em center / 0.9em;
}
