// ##### Campus Heading and Menu Component ##### //

.c-campus {
  display: inline-flex;
  position: relative;
  align-items: center;
	min-width: 14em; // longest menu item
}

.c-campus__heading {
	flex: 1 1 auto;
	margin: 0 $spacing-sm 0 0;
	text-align: right;

	a {
		@extend %o-textlink__colorless;
	}

}

.c-campus__menu {

	summary {
		position: relative;
		height: $element-height;
		padding: 0 15px;
		border: 1px solid $color-dark-gray;

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url('../images/icon_arrow-down.svg') no-repeat center / 13px;
			content: '';
		}

	}

	&[open] {

		summary::after {
			transform: rotate(180deg);
		}

	}

}

.c-campus__menu-items {
	position: absolute;
	right: 0;
	left: 0;

	div {
		padding: $spacing-sm;
		background-color: $color-light-gray;
		font-size: 1.1em;
	}

	a {
		display: block;
		padding: $spacing-sm;
		border: 1px solid $color-dark-gray;
		color: $color-dark-gray;
		font-size: 1.1em;
		text-decoration: none;

		&:not(:first-of-type) {
			border-top: none;
		}

	}

}
