// ##### Campus Carousel Component ##### //

.c-campuscarousel {
  @extend %campuscarousel-flickity-customizations;
  padding: 0 35px;
}

.c-campuscarousel__section {
  display: flex;
  position: relative;
  height: 145px; // sets the carousel height
  padding-top: 30px;

  &:not(:first-child) {

    [class^='c-campuscarousel__cell--'] {

      &:first-of-type {
        border-left: 1px solid $color-dark-gray;
      }

    }

  }

}

.c-campuscarousel__cell-heading {
  position: absolute;
  top: 0;
  left: $spacing-sm;
  margin: 0;
  color: $color-dark-gray;
  font-size: 1.1em;
  font-weight: normal;
}

%c-campuscarousel__cell {
  width: 150px;
  padding: 35px $spacing-base $spacing-base;
  background: top center / 1.5em no-repeat;
  text-align: center;

  strong {
    display: block;
    color: $color-teal;
    font-family: 'KievitWebLight';
    font-size: 1.8em;
  }

}

.c-campuscarousel__cell--item {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_book-light-black.svg');
}

.c-campuscarousel__cell--view {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_eye-light-black.svg');
}

.c-campuscarousel__cell--passed {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_unlock-alt-light-black.svg');
}

.c-campuscarousel__cell--journals {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_file-text-light-black.svg');
}

.c-campuscarousel__cell--units {
  @extend %c-campuscarousel__cell;
  background-image: inline('../images/icon_university-light-black.svg');
}

// ***** Flickity Customizations ***** //

%campuscarousel-flickity-customizations {

  .flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;

    &:hover {
      background: transparent;
    }

    &.previous {
      left: -20px;
    }

    &.next {
      right: -20px;
    }

    .arrow {
      fill: $color-dark-gray;
    }

  }

}
