// ##### Campus Search Component ##### //

$campussearch-max-width: 29em;

.c-campussearch {
  margin-bottom: $spacing-md;
  padding: $spacing-sm;
  background-color: $color-light-teal;
  box-shadow: $box-shadow1;

  @include bp(screen2) {
    padding: $spacing-sm 20%;
  }

}

.c-campussearch__label {
  display: block;
  margin-bottom: $spacing-sm;
  color: $color-orange;
  font-size: 1.3em;

  @include bp(screen2) {
    font-size: 1.8em;
  }

}

.c-campussearch__search {
  display: flex;

  @include bp(screen4) {
    width: $campussearch-max-width;
  }

  input[type='search'] {
    @extend %interactive-element-size;
    flex: 1 1 auto;
    padding: 0 $spacing-sm;
    border: 1px solid $color-light-gray;
    font-size: 1.2em;
  }

  button {
    @extend %o-button__9;
    margin-left: $spacing-base;
    background-image: inline('../images/icon_magnify-teal.svg');
  }

}
