// ##### Box Object ##### //

.o-columnbox {
	padding: 0 20px 10px;
	background: $color-white;
	box-shadow: 5px 5px 15px lighten($color-dark-gray, 30%);
}

.o-columnbox__heading {
	margin: 0 -20px 20px;
	padding: 10px 20px;
	background: $color-teal;
	color: $color-white;
	font-size: 1.4em;
	font-weight: normal;
}
