// ##### Box Object ##### //

%o-columnbox {
	background: $color-white;
	box-shadow: 0 50px 15px -15px lighten($color-dark-gray, 30%) inset, 5px 5px 15px lighten($color-dark-gray, 30%);
}

.o-columnbox-main {
	@extend %o-columnbox;
	padding: 0 $spacing-lg $spacing-sm;
}

.o-columnbox-sidebar {
	@extend %o-columnbox;
	padding: 0 $spacing-sm $spacing-sm;
}

%o-columnbox__heading {
	padding: 5px $spacing-sm;
	background: $color-teal;
	color: $color-white;
	font-family: 'KievitWebLight';
	font-size: 1.3em;
	font-weight: normal;
}

.o-columnbox-main__heading {
	@extend %o-columnbox__heading;
	margin: 0 (-$spacing-lg) $spacing-md;
}

.o-columnbox-sidebar__heading {
	@extend %o-columnbox__heading;
	margin: 0 (-$spacing-sm) $spacing-md;
}
