// ##### Column Box Objects ##### //

%o-columnbox {
	position: relative;
	margin: 0 0 $spacing-md;
	padding-top: $spacing-md;
	padding-bottom: $spacing-md;
	background: $color-white;
	box-shadow: $box-shadow;

	header {
		margin-top: (-$spacing-md);

		&::before {
			position: absolute;
			top: 30px;
			right: 0;
			bottom: 0;
			left: 0;
			box-shadow: 0 15px 10px -5px lighten($color-light-gray, 5%) inset;
			content: '';
		}

	}

}

.o-columnbox-main {
	@extend %o-columnbox;
	padding-right: $spacing-lg;
	padding-left: $spacing-lg;
}

.o-columnbox-sidebar {
	@extend %o-columnbox;
	padding-right: $spacing-md;
	padding-left: $spacing-md;
}

%o-columnbox__heading {
	position: relative;
	padding: 7px $spacing-md;
	background: $color-teal;
	color: $color-white;
	font-family: 'KievitWebLight';
	font-size: 1.2em;
	font-weight: normal;
}

.o-columnbox-main__heading {
	@extend %o-columnbox__heading;
	margin: 0 (-$spacing-lg) $spacing-md;
}

.o-columnbox-sidebar__heading {
	@extend %o-columnbox__heading;
	margin: 0 (-$spacing-md) $spacing-md;
}
