// ##### Data Table Component ##### //

$table-border-size: 1px;

.c-datatable {
  // max-width: 700px;
  max-height: 80vh; // for testing
  overflow: scroll;

  table {
    margin-bottom: $spacing-md;
    border: $table-border-size solid $color-teal;
    border-collapse: collapse;

    caption {
      @extend %o-heading3;
      text-align: left;
    }

    th,
    td {
      padding: $spacing-sm;
    }

    th {
      text-align: left;
    }

    // ***** Table Borders ***** //

    thead {

      th[scope='col'] {
        position: sticky;
        top: 0;
        background-color: $color-teal;
        color: $color-white;
        font-weight: normal;
        z-index: 2;

        &:not(:first-child) {
          border-left: $table-border-size solid $color-white;
        }

      }

    }

    tbody {

      tr {
        border-bottom: $table-border-size solid $color-teal;

        th,
        td {
          background-color: $color-white;
        }

        td {
          border-left: $table-border-size solid $color-teal;
        }

      }

      th[scope='row'] {
        position: sticky;
        left: 0;
      }

    }

  }

}
