// ##### Deposit Wizard Component ##### //

.c-depositwizard {
  // no styles
}

.c-depositwizard__step {
  max-width: 400px;
  margin-bottom: $spacing-md;
  padding: $spacing-md;
  background-color: $color-light-gray;

  @include headings() {
    margin-bottom: $spacing-sm;
    font-size: 1.1em;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: (-$spacing-md) (-$spacing-md) 0;
    padding: $spacing-sm $spacing-md;
    background-color: $color-dark-gray;

    span {
      color: $color-white;
    }

    button {
      padding: 0;
      border: none;
      background: none;
    }

  }

  ul {
    @extend %no-bullet-ul;
    margin-bottom: $spacing-md;

    li {

      &:not(:last-child) {
        margin-bottom: $spacing-sm;
      }

      a {
        display: block;
        padding: $spacing-sm;
        background-color: $color-teal;
        color: $color-white;
        text-decoration: none;
      }

    }

  }

  footer {
    font-size: 0.9em;
  }

}
