// ##### Deposit Wizard Component ##### //

.c-depositwizard {
  // no styles
}

.c-depositwizard__step {
  max-width: 400px;
  margin-bottom: $spacing-md;
  padding: $spacing-md;
  background-color: $color-light-gray;

  @include headings() {
    font-size: 1.2em;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: (-$spacing-md) (-$spacing-md) 0;
    padding: $spacing-sm $spacing-md;
    background-color: $color-dark-gray;

    span {
      color: $color-white;
    }

    button {
      padding: 0;
      border: none;
      background: none;
    }

  }

}
