// ##### Deposit Wizard Component ##### //

$depositwizard-nav-icon-size: 1.5em;

.c-depositwizard {
  // no styles
}

.c-depositwizard__step {
  max-width: 400px;
  margin-bottom: $spacing-md;
  padding: $spacing-md;
  background-color: $color-light-gray;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: (-$spacing-md) (-$spacing-md) $spacing-md;
    padding-right: $spacing-sm;
    padding-left: $spacing-md;
    background-color: $color-dark-gray;

    span {
      color: $color-white;
    }

    button {
      @extend %o-button__9;
      background-image: inline('../images/icon_close-white.svg');
      background-size: 0.9em;

      span {
        @extend %hide;
      }

    }

  }

  ul {
    @extend %no-bullet-ul;
    margin-bottom: $spacing-md;

    li {

      &:not(:last-child) {
        margin-bottom: $spacing-sm;
      }

      a {
        display: block;
        padding: $spacing-sm 2.5em $spacing-sm $spacing-sm;
        background: $color-teal inline('../images/icon_caret-right-white.svg') no-repeat center right #{$spacing-sm} / #{$depositwizard-nav-icon-size};
        color: $color-white;
        text-decoration: none;
      }

    }

  }

  footer {
    font-size: 0.9em;

    a {
      @extend %o-textlink__secondary;
    }

  }

}

.c-depositwizard__heading {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-sm;
  font-size: 1.1em;

  a {
    @extend %interactive-element-size;
    margin-left: (-$spacing-sm);
    transform: scaleX(-1);
    background: inline('../images/icon_caret-right-black.svg') no-repeat center bottom 0.4em / #{$depositwizard-nav-icon-size};

    span {
      @extend %hide;
    }

  }

}

.c-depositwizard__message {
  margin-bottom: $spacing-md;

  a {
    @extend %o-textlink__secondary;
  }

  button {
    @extend %o-button__8;
    display: block;
    margin: 0 auto $spacing-sm;
  }

}
