// ##### Footer Component ##### //

.c-footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: $spacing-md;
	background-color: $color-light-black;

	@include bp(screen3) {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: $spacing-md $spacing-md 5px;
  }

}

.c-footer__logo {
	flex: 1 0 auto;
	align-self: stretch;
	margin: 0 0 $spacing-md;
	color: $color-white;

	@include bp(screen3) {
    position: absolute;
    order: 1;
    margin: 0 0 $spacing-md;
  }

	img {
		width: 150px;
	}

}

.c-footer__nav {
	flex: 0 0 auto;
	margin: 0 0 10px;
	columns: 2;

	@include bp(screen3) {
    order: 3;
    margin: 0;
  }

	a {
		display: block;
		margin: 0 0 15px;
		color: $color-white;
		text-decoration: none;

		&:nth-child(9),
		&:nth-child(10) {
			font-weight: bold;
		}

	}

}

.c-footer__social-icons {
	margin: 0 10px 10px 0;

	@include bp(screen3) {
    order: 4;
  }

	a {
		display: inline-block;
		margin: 0 10px 10px;
	}

	img { // images are temporary until replaced with background css
		width: 40px;
	}

}

.c-footer__copyright {
	color: $color-light-gray;
	text-align: center;

	@include bp(screen3) {
    flex: 1 0;
    order: 2;
    margin: 70px $spacing-md 0 0;
    text-align: left;
  }

	a {
		color: $color-white;
		text-decoration: none;
	}

}
