// ##### Hero Component ##### //

.c-hero {
  @extend %page-bleed;
  margin-top: (-$spacing-sm);
  margin-bottom: $spacing-sm;
  padding: $spacing-sm;
  background-color: $color-teal;

  @include bp(screen3) {
    margin-bottom: $spacing-md;
  }

  @include headings() {
    margin: 0;
    color: $color-white;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
  }

}

.c-hero__campuses {
  display: none;
}
