// ##### Informational Pages Component ##### //

.c-infopages {

  @include bp(screen2) {
    display: flex;
  }

}

.c-infopages__item {
  padding: $spacing-md;

  @include bp(screen2) {
    flex: 0 1 33%; // 3 columns
    border: 1px solid $color-dark-gray;

    &:not(:first-child) {
      border-left: none;
    }

  }

  &:not(:first-child) {
    border-top: 1px solid $color-dark-gray;
  }

  @include headings() {
    margin: 0 0 $spacing-sm;
    font-size: 1.1em;
    font-weight: normal;

    a {
      @extend %o-textlink__secondary;
    }

  }

}

.c-infopages__title {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}

.c-infopages__text {
  max-height: 3.3em; // truncate beyond 3 lines via jQuery dotdotdot
}
