// ##### Issue Component ##### //

.c-issue {
  
  @include bp(screen1) {
    display: flex;
    position: relative;

    // Detecting 'display: contents' alone is causing a false positive in Safari, so adding 'display: flow-root':
    @supports (display: contents) and (display: flow-root) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto 1fr auto;
    }

  }

  @include headings() {
    @extend %o-heading3a;
    margin-bottom: $spacing-sm;

    @include bp(screen1) {
      position: absolute;
      right: 0;
      left: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      grid-column: 2;
      grid-row: 1;

      @supports (display: contents) and (display: flow-root) {
        position: static;
        margin: 0 0 $spacing-sm $spacing-md;
      }

    }

  }

}

.c-issue__thumbnail {
  margin: 0 0 $spacing-sm;

  @include bp(screen1) {
    display: contents;
    margin: $spacing-lg 0 0;
  }

  img {
    @extend %u-thumbnail;
    margin-bottom: $spacing-base;

    @include bp(screen1) {
      margin-bottom: 0;
      grid-row: 1 / 4;
    }

  }

  figcaption {
    
    @include bp(screen1) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 8em;
      margin-left: $spacing-md;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      grid-column: 2;

      @supports (display: contents) and (display: flow-root) {
        position: static;
      }

    }

  }

}

.c-issue__description {

  @include bp(screen1) {
    margin: $spacing-lg 0 0 $spacing-md;
    padding-bottom: $spacing-md;
    grid-column: 2;
    grid-row: 2;

    @supports (display: contents) and (display: flow-root) {
      margin: 0 0 0 $spacing-md;
      padding: 0;
    }

  }

}
