// ##### Item Carousel Component ##### //

.c-itemcarousel {
  display: flex;
  background-color: $color-white;
}

.c-itemcarousel__carousel {
  flex: 1 0 auto;
  border: $bred;
}

.c-itemcarousel__item {
  width: 200px;
  min-height: 10em;
}

.c-itemcarousel__stats {
  width: 150px;
  border: $bblue;
}
