// ##### Item Carousel Component ##### //

.c-itemcarousel {
  background-color: $color-white;
}

.c-itemcarousel__carousel {
  flex: 1 0 auto;
}

.c-itemcarousel__item {
  width: 200px;
  min-height: 10em;
}

%c-itemcarousel__stats {
  @extend %clearfix;
  width: 50%;
  background-color: $color-white;
  text-align: center;

  b {
    color: $color-teal;
    font-size: 1.2em;
    font-weight: normal;
  }

}

.c-itemcarousel__stats-items {
  @extend %c-itemcarousel__stats;
  float: left;
}

.c-itemcarousel__stats-views {
  @extend %c-itemcarousel__stats;
  float: right;
}
