// ##### Item Actions Component ##### //

.c-itemactions {
  display: flex;
  justify-content: space-between;
}

.c-itemactions__download {

  .o-button__6 {
    margin-left: $spacing-sm;
  }

}

.c-itemactions__share {
  // not used
}
