// ##### Marquee Component ##### //

$marquee-height: 250px;
$marquee-overlay-size: 50%;

.c-marquee {
  @extend %marquee-flickity-customizations;

  @include bp(screen2) {
    display: flex;
    margin-bottom: $spacing-md;
  }

}

.c-marquee__sidebar {
  flex: 0 0 $column-width;

  @include bp(screen2) {
    max-height: $marquee-height; // truncate beyond container per jquery.dotdotdot
    margin-left: $spacing-md;
    overflow: hidden; // hide text beyond max-height
  }

  p {
    font-size: 1.1em;
  }

}

.c-marquee__sidebar-more-link {
  @extend %o-textlink__secondary;
}

.c-marquee__carousel {
  flex: 1;
  margin-bottom: $spacing-md;

  @include bp(screen2) {
    margin: 0;
  }

}

.c-marquee__carousel-cell {
  position: relative;
  width: 100%;
  height: $marquee-height; // sets the carousel height
  padding: $spacing-md 70px;
  background-color: $color-black;
  z-index: -1;

  @include bp(screen1) {
    padding: $spacing-md $marquee-overlay-size $spacing-md 70px;
    background: right center / cover no-repeat;
    // background-image url property/value is set as an inline style after this class within the component

    &::after {
      position: absolute;
      top: 0;
      right: $marquee-overlay-size;
      bottom: 0;
      left: 0;
      margin-right: (-$spacing-md);
      background-image: linear-gradient(to right, $color-black 95%, transparent);
      content: '';
      z-index: -1;
    }

  }

  h2 {
    @extend %o-heading1;
    color: $color-white;
  }

  p {
    margin-bottom: $spacing-md;
    color: $color-white;
    font-size: 1.1em;
  }

  a {
    @extend %o-textlink__primary;
    display: inline-block;
    font-size: 1.1em;
  }

}

// ***** Flickity Customizations ***** //

.flickity-page-dots {
  bottom: 10px;

  .dot {
    background: $color-white;
  }

}

%marquee-flickity-customizations {

  .flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;

    @include bp(screen1) {
      width: 80px;
      height: 80px;
    }

    &:hover {
      background: transparent;
    }

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }

    .arrow {
      fill: $color-white;
    }

    .no-svg {
      color: $color-white;
    }

  }

}
