// ##### Media File Grid Component ##### //

.c-mediafilegrid {

  @include bp(screen2) {

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      // grid-gap: $spacing-sm;
    }

  }

  [class^='o-mediafile--'] {
    margin-bottom: $spacing-md;

    @include bp(screen1) {
      margin-bottom: $spacing-sm;
    }

    @include bp(screen2) {
      width: 45.5%;
      margin: $spacing-base;

      &:nth-child(odd) {
        float: left;
        clear: left;
      }

      &:nth-child(even) {
        float: right;
      }

      @supports (display: grid) {
        width: auto;
        margin: 0;
      }

    }

  }

}
