// ##### Media List Component ##### //

$medialist-item-length: 13em;

.c-medialist {
  @extend %no-bullet-ul;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($medialist-item-length, 1fr));
    grid-column-gap: $spacing-md;
    grid-row-gap: $spacing-sm;
  }

}

%c-medialist__item {
  width: $medialist-item-length;
  margin-bottom: $spacing-sm;
  padding-left: 1.5em;
  float: left;
  background: no-repeat left top / 16px;
  color: $color-teal;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
    float: none;
  }

}

.c-medialist__audio {
  @extend %c-medialist__item;
  background-image: inline('../images/icon_volume-up.svg');
}

.c-medialist__image {
  @extend %c-medialist__item;
  background-image: inline('../images/icon_picture.svg');
}

.c-medialist__pdf {
  @extend %c-medialist__item;
  background-image: inline('../images/icon_pdf-teal.svg');
}

.c-medialist__video {
  @extend %c-medialist__item;
  background-image: inline('../images/icon_play-circle-o.svg');
}
