// ##### Media File Component ##### //

%c-mediafile {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
  padding: $spacing-sm;
  border-bottom: 1px solid $color-dark-gray;

  @include bp(screen1) {
    display: block;
    position: relative;
    overflow: hidden;

    @supports (display: grid) {
      display: grid;
      overflow: visible;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto 1fr;
      grid-column-gap: $spacing-sm;
    }

  }

}

.c-mediafile {
  @extend %c-mediafile;
}

.c-mediafile--selected {
  @extend %c-mediafile;
  border: none;
  background-color: $color-light-gray;
}

%c-mediafile__heading {
  margin: 0 0 $spacing-sm;
  color: $color-teal;
  font-size: 1.2em;
  font-weight: normal;

  &::before {
    margin-right: 8px;
    padding: 8px;
    background: no-repeat center / 16px;
  }

  @include bp(screen1) {
    width: 48%;
    float: right;

    @supports (display: grid) {
      width: auto;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

  }

}

.c-mediafile__heading {
  @extend %c-mediafile__heading;
}

// ***** Media-specific Icons Within Heading ***** //

// Example: c-mediafile__heading--picture

@each $mediafile-type, $mediafile-icon in
  (audio, icon_volume-up),
  (picture, icon_picture) {

  .c-mediafile__heading--#{$mediafile-type} {
    @extend %c-mediafile__heading;

    &::before {
      background-image: inline('../images/#{$mediafile-icon}.svg');
      content: '';
    }

  }

}

.c-mediafile__image {
  display: block;
  max-width: 100%;
  margin-bottom: $spacing-sm;

  @include bp(screen1) {
    width: 48%;
    height: 120px;
    margin-bottom: 0;
    float: left;
    object-fit: cover;

    @supports (display: grid) {
      width: 100%;
      grid-row: 1 / 4;
      
    }

  }

}

.c-mediafile__button {
  align-self: flex-end;
  margin-bottom: $spacing-sm;

  @include bp(screen1) {
    position: absolute;
    bottom: 0;
    left: 50.5%;
    margin-bottom: 0;

    @supports (display: grid) {
      position: static;
      grid-column: 2 / 3;
      justify-self: end;
    }

  }

}

.c-mediafile__description {

  @include bp(screen1) {
    width: 48%;
    margin-bottom: 35px;
    float: right;

    @supports (display: grid) {
      width: auto;
      margin-bottom: 0;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

  }

}
