// ##### Media File Component ##### //

%c-mediafile {
  @extend %clearfix;
  position: relative;

  @include bp(screen1) {
    display: block;
    padding: $spacing-sm;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto 1fr auto;
      grid-column-gap: $spacing-sm;
    }

  }

}

.c-mediafile {
  @extend %c-mediafile;
}

// .c-mediafile--audio {
//   @extend %c-mediafile;

//   .c-mediafile__heading {
    
//   }

// }

.c-mediafile--image {
  @extend %c-mediafile;

  .c-mediafile__link {

    &::before {
      background-image: inline('../images/icon_eye-white.svg');
    }

  }

}

.c-mediafile--video {
  @extend %c-mediafile;

  .c-mediafile__link {

    &::before {
      background-image: inline('../images/icon_play-circle-white.svg');
    }

  }

}

.c-mediafile--selected {
  @extend %c-mediafile;
  padding: $spacing-sm;
  background-color: $color-light-gray;
}

%c-mediafile__heading {
  max-height: 2.1em; // truncate beyond 2 lines per jquery.dotdotdot
  margin: 0 0 $spacing-sm;
  float: left;
  color: $color-teal;
  font-size: 1.2em;
  font-weight: normal;

  &::before {
    margin-right: 8px;
    padding: 8px;
    background: no-repeat center / 16px;
  }

  @include bp(screen1) {
    width: 48%;
    float: right;

    @supports (display: grid) {
      width: auto;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

  }

}

.c-mediafile__heading {
  @extend %c-mediafile__heading;
}

// ***** Media-specific Icons Within Heading ***** //

// Example: c-mediafile--image

@each $mediafile-type, $mediafile-icon in
  (audio, icon_volume-up),
  (file, icon_archive-teal),
  (image, icon_picture),
  (video, icon_video-camera-teal) {

  .c-mediafile--#{$mediafile-type} {

    .c-mediafile__heading {
      @extend %c-mediafile__heading;

      &::before {
        background-image: inline('../images/#{$mediafile-icon}.svg');
        content: '';
      }

    }

  }

}

.c-mediafile__link {
  display: block;
  position: relative;
  clear: left;

  @include bp(screen1) {
    width: 48%;
    float: left;

    @supports (display: grid) {
      width: 100%;
      grid-row: 1 / 4;
    }

  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center / 60px;
    content: '';
    opacity: 0.7;
  }

}

.c-mediafile__image {
  display: block;
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.c-mediafile__button {
  float: right;

  @include bp(screen1) {
    position: absolute;
    bottom: $spacing-base;
    left: 50.5%;

    @supports (display: grid) {
      position: static;
      margin-left: (-$spacing-sm);
      grid-column: 2 / 3;
      justify-self: start;
    }

  }

}

.c-mediafile__description {
  max-height: 3.2em; // truncate beyond 3 lines per jquery.dotdotdot
  clear: both;

  @include bp(screen1) {
    width: 48%;
    float: right;
    clear: none;

    @supports (display: grid) {
      width: auto;
      margin-bottom: 0;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

  }

}

// *[class^='c-mediafile__heading'] {
//   border: $bred;
// }
