// ##### Media Viewer Component ##### //

.c-mediaviewer {

  [class^='o-mediafeature--'] {
    padding-bottom: $spacing-md;
    animation: reveal 1s;
    border-bottom: 1px solid $color-light-gray;
  }

}

@keyframes reveal {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.c-mediaviewer__feature {
  margin-bottom: $spacing-md;
}
