// ##### Media File Grid Component ##### //

.c-mediafilegrid {

  @include bp(screen2) {

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: $spacing-sm;
    }

  }

  .c-mediafile,
  .c-mediafile--selected {
    margin-bottom: $spacing-md;

    @include bp(screen1) {
      margin-bottom: $spacing-sm;
    }

    @include bp(screen2) {
      width: 45%;
      margin: $spacing-base;
      float: left;

      @supports (display: grid) {
        width: auto;
        margin: 0;
      }

    }

    ~ .c-mediafile,
    .c-mediafile--selected {
      padding-top: $spacing-md;
      border-top: 1px solid $color-dark-gray;
    }

  }

}
