// ##### Media Feature Objects ##### //

.o-mediafeature {
  margin-bottom: $spacing-md;
}

%o-mediafeature__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-sm;
}

.o-mediafeature__item--audio {
  @extend %o-mediafeature__item;
  height: 50vw;
  background-color: $color-light-gray;
}

.o-mediafeature__item--file {
  @extend %o-mediafeature__item;
}

.o-mediafeature__item--picture {
  @extend %o-mediafeature__item;
  background-color: $color-light-gray;

  img {
    max-width: 100%;
  }

}

.o-mediafeature__item--video {
  @extend %o-mediafeature__item;
}

.o-mediafeature__title-bar {
  display: flex;
  align-items: flex-start;
  margin-bottom: $spacing-sm;

  @include headings() {
    flex: 1 1 auto;
    margin: 0 $spacing-md 0 0;
    color: $color-teal;
    font-size: 1.4em;
    font-weight: normal;
  }

  button {
    @extend %o-button__7;

    // if there's more than one button:
    &:not(:last-child) {
      margin-right: $spacing-sm;
      padding-right: $spacing-sm;
      border-right: 1px solid $color-dark-gray;
    }

  }

}
