// ##### Media File Component ##### //

.c-mediafile {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
  border-bottom: 1px solid $color-dark-gray;
}

%c-mediafile__heading {
  margin: 0 0 $spacing-sm;
  color: $color-teal;
  font-size: 1.2em;
  font-weight: normal;

  &::before {
    margin-right: 8px;
    padding: 8px;
    background: no-repeat center / 16px;
  }

}

.c-mediafile__heading {
  @extend %c-mediafile__heading;
}

// ***** Media-specific Icons Within Heading ***** //

// Example: c-mediafile__heading--picture

@each $mediafile-type, $mediafile-icon in
  (audio, icon_volume-up),
  (picture, icon_picture) {

  .c-mediafile__heading--#{$mediafile-type} {
    @extend %c-mediafile__heading;

    &::before {
      background-image: inline('../images/#{$mediafile-icon}.svg');
      content: '';
    }

  }

}

.c-mediafile__image {
  display: block;
  align-self: flex-start;
  max-width: 100%;
  margin-bottom: $spacing-sm;
}

.c-mediafile__button {
  align-self: flex-end;
  margin-bottom: $spacing-sm;
}

.c-mediafile__description {
  margin-bottom: $spacing-md;
}
