// ##### Navigation - Campus Component ##### //

.c-nav2 {
  position: relative;
  margin: 0 0 $spacing-md;

  @include bp(screen3) {
    border-top: 2px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
  }

}

.c-nav2__main {

  &[open] {

    .c-nav2__main-button::after {
      transform: rotate(180deg);
    }

  }

}

.c-nav2__main-button {
  display: inline-flex;
  align-items: center;
  height: $element-height;
  margin: 0 0 10px;
  padding: 0 35px 0 10px;
  border: 1px solid $color-dark-gray;
  color: $color-dark-gray;
  user-select: none;

  @include bp(screen3) {
    display: none;
  }

  &::after {
    position: absolute;
    margin: 0 0 0 10px;
    padding: 7px;
    background: url('../images/icon_arrow-down.svg') no-repeat center / 13px;
    content: '';
  }

}

.c-nav2__main-items {
  position: absolute;
  background-color: $color-white;
  z-index: 1;

  @include bp(screen3) {
    // scss-lint:disable ImportantRule
    display: flex !important; // override details polyfill
    position: static;
    justify-content: space-around;
  }

  a {
    display: block;
    padding: 10px;
    border: 1px solid $color-dark-gray;
    color: $color-dark-gray;
    font-size: 1.1em;
    text-decoration: none;

    @include bp(screen3) {
      padding: 10px 0 7px;
      border: none;
    }

    &:not(:first-of-type) {
      border-top: none;
    }

  }

}
