// ##### Navigation - Journal Component ##### //

.c-nav3 {
  position: relative;
}

.c-nav3__main {

  &[open] {

    .c-nav3__main-button::after {
      transform: rotate(180deg);
    }

  }

}

.c-nav3__main-button {
  display: inline-block;
  margin: 0 0 $spacing-sm;
  padding: 7px 35px 6px 10px;
  border: 1px solid $color-dark-gray;
  color: $color-dark-gray;
  user-select: none;

  &::after {
    position: absolute;
    margin: 0 0 0 10px;
    padding: 7px;
    background: url('../images/icon_arrow-down.svg') no-repeat center / 13px;
    content: '';
  }

}

.c-nav3__main-items {
  position: absolute;
  right: 0;
  left: 0;
  background-color: $color-white;
  z-index: 1;

  a {
    display: block;
    padding: 10px;
    border: 1px solid $color-dark-gray;
    color: $color-dark-gray;
    font-size: 1.1em;
    text-decoration: none;

    &:not(:first-of-type) {
      border-top: none;
    }

  }

}
