// ##### Published Location Component ##### //

.c-publishedlocation {
  margin-bottom: $spacing-md;

  @include bp(screen1) {
    display: flex;
    align-items: flex-start;
  }

}

.c-publishedlocation__location {

  @include bp(screen1) {
    flex: 1;
    margin-right: $spacing-md;
  }

}

.c-publishedlocation__license {
  // not used
}
