// ##### Refine Component ##### //

%c-refine {
  margin-bottom: $spacing-md;
}

.c-refine {
  @extend %c-refine;
}

.c-refine--active {
  @extend %c-refine;
  position: relative;

  [class^='c-refine__drawer'] {
    position: absolute;
  }

}

%c-refine__button {
  @extend %o-button__8;
  margin-bottom: $spacing-sm;
}

.c-refine__button--open {
  @extend %c-refine__button;
}

.c-refine__button--close {
  @extend %c-refine__button;
}

%c-refine__drawer {
  transition: transform 0.5s;
  background-color: $color-white;
}

.c-refine__drawer--opened {
  @extend %c-refine__drawer;
}

.c-refine__drawer--closed {
  @extend %c-refine__drawer;
  transform: translateX(-100%);
}
