// ##### Element Resets ##### //

abbr {
  border: none; // for older browsers
  text-decoration: none; // for newer browsers
  cursor: default;

  &[title] {
    border: none; // override normalize.scss
  }

}

// Remove rounded corners from WebKit search fields on iOS:

input[type='search'] {
  border-radius: 0 !important;
  appearance: none !important;
}

summary {
  cursor: pointer;

  // Remove details arrow icon from webkit browsers:
  // sass-lint:disable no-vendor-prefixes
  &::-webkit-details-marker {
    display: none;
  }

  // &::before {
  //   display: none !important; // reset details polyfill
  // }

}
