// ##### Search Object ##### //

.o-search {
	display: flex;
	height: 34px;
}

.o-search__label {
	@extend %hide;
}

.o-search__field {
	padding: 0 0 0 40px;
	border: 1px solid $color-light-gray;
	border-radius: 3px;
	background: url('/images/icon_magnify.svg') no-repeat left 8px center / 16px;
	font-size: 0.8em;

	@include bp(screen3) {
		border-right: none;
		border-radius: 3px 0 0 3px;
	}

}

.o-search__submit-button {
	@extend %hide;

	@include bp(screen3) {
		position: static; // show
  	left: auto; // show
  	padding: 0 16px;
		border: none;
		background-color: $color-teal;
		color: $color-white;
	}

}
