// ##### Search1 and Search2 Components ##### //

.c-search {
	display: flex;
}

.c-search__thesearch {
	display: flex;
	flex: 1 0 auto;
	flex-flow: column nowrap;
	// align-items: stretch;
	width: 23.5em;
}

.c-search__form {
	display: flex;
}

.c-search__label {
	@extend %hide;
}

.c-search__field {
	flex: 1 0 auto;
	height: $input-height;
	padding: 0 0 0 30px;
	border: 1px solid $color-light-gray;
	border-radius: 3px;
	background: url('../images/icon_magnify.svg') no-repeat left 8px center / 16px;
	font-size: 0.8em;

	@include bp(screen3) {
		padding: 0 0 0 $spacing-sm;
		background: none;
	}

}

.c-search__buttons {
	// empty
}

.c-search__submit-button {
	@extend %hide;

	@include bp(screen3) {
		// first 2 properties make up %show, because Sass @extends are not allowed within media queries:
		position: static;
  	left: auto;
  	padding: 16px;
		border: none;
		background: url('../images/icon_magnify.svg') no-repeat center / 20px;
	}

}

.c-search__search-close-button {
	margin: 0 0 0 $spacing-body;
	padding: 13px;
	border: none;
	background: url('../images/icon_close.svg') no-repeat center / 20px;

	@include bp(screen3) {
		display: none;
	}

}

// ***** Search 1 Component ***** //

.c-search__tagline {
	color: $color-dark-gray;
	font-size: 0.8em;
}

// ***** Search 2 Component ***** //

.c-search__refine {
	padding: 5px;
	border: 1px solid $color-light-gray;
	background: lighten($color-light-gray, 10%);

	label {
		margin: 0 20px 0 5px;
	}

}
