// ##### Subheader Component ##### //

// ***** Layout ***** //

.c-subheader {
  position: relative; // to absolute positioned campus, nav2, and nav3 components
  margin: 0 0 $spacing-md;
  background: $color-white;

  @include bp(screen2) {
    margin: 0 (-$spacing-sm) $spacing-md;
    padding: 0 $spacing-sm $spacing-sm;
  }

}

.c-subheader__row1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 $spacing-sm;
  padding: 0 0 $spacing-sm;
  border-bottom: 2px solid $color-light-gray;

  @include bp(screen3) {
    margin: 0;
    padding: 0;
    border: none;
  }

}

.c-subheader__banner {
  display: none;

  @include bp(screen3) {
    display: block;
  }

}

.c-subheader__buttons {
  display: flex;
  align-items: center;

	@include bp(screen3) {
    flex-direction: column;
  }

}

.c-subheader__row2 {
  // not yet used
}

// ***** Nested Grid Elements ***** //

.c-subheader__button-deposit {
  padding: 8px 16px;
  background-color: $color-orange;
  color: $color-white;
  text-decoration: none;
}

.c-subheader__button-submit {
  @extend %o-textlink__primary;
  margin: 0 $spacing-sm;
  padding: 0 $spacing-sm 0 0;
  border-right: 1px solid $color-dark-gray;

  @include bp(screen3) {
    margin: 0 0 $spacing-sm;
    padding: 8px 16px;
    background-color: $color-orange;
    color: $color-white;

    &:hover {
      text-decoration: none;
    }

  }

}

.c-subheader__button-manage {
  @extend %o-textlink__primary;
  white-space: nowrap;
}

.c-subheader__button-fragment {
  position: absolute;
  left: -9999px;

  @include bp(screen3) {
    display: block;
    position: static;
    left: auto;
  }

}
