// ##### Subheader Component ##### //

// ***** Layout ***** //

// Would rather try CSS Grid Layout here, but spec not yet ratified, so here's some Flexbox hacking:

.c-subheader {
	display: flex;
  position: relative; // to absolute positioned campus and nav2 components

  @include bp(screen3) {
  	flex-wrap: wrap;
  }

}

.c-subheader__campus {

	@include bp(screen3) {
    order: 1;
  }

}

.c-subheader__nav {

	@include bp(screen3) {
		flex: 1 1 100%;
		order: 4;
  }

}

.c-subheader__buttons {

	@include bp(screen3) {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    order: 3;
  }

}

.c-subheader__banner {
	display: none;

	@include bp(screen3) {
    display: block;
    flex: 1 0 auto;
    order: 2;
  }

}

// ***** Nested Properties ***** //

.c-subheader__banner-image {
  display: block;
  margin: 0 auto;
}
