// ##### Subheader Component ##### //

// Would be better using CSS Grid Layout here, but spec not yet ratified, so here's some Flexbox hacking:

.c-subheader {
	display: flex;
	flex-flow: row wrap;
}

.c-subheader__campus {

	@include bp(screen3) {
    order: 1;
  }

}

.c-subheader__nav {

	@include bp(screen3) {
		flex: 1 1 100%;
		order: 4;
  }

}

.c-subheader__buttons {

	@include bp(screen3) {
    order: 3;
  }

}

.c-subheader__banner {
	display: none;

	@include bp(screen3) {
    display: block;
    flex: 1 0 auto;
    order: 2;
  }

}
