// ##### Tab Content Components ##### //

.c-tabcontent {
  // not used
}

#c-tabcontent__main-heading {
 // this ID is present in each tab in order to receive focus from script in TabsComp

 outline: none;
}

.c-tabcontent__divide2x {

  @include bp(screen3) {
    display: flex;
  }

}

.c-tabcontent__divide2x-child {

  @include bp(screen3) {
    width: 50%;
  }

  border: $bred;
}
