// ##### Tab Component ##### //

.c-tab {
  position: relative;

  border: $bred;
}

.c-tab__bar {
  margin-bottom: 50px;

  border: $bgreen;
}

details {
  // empty
}

summary {
  @extend %nav-item;
}

.c-tab__content {
  position: absolute;
  bottom: 0;

  border: $bblue;
}
