// ##### Tab Component ##### //

// Inspired from: http://codepen.io/vulpesigni/pen/yyZYNy

.c-tab {
  display: flex;
  flex-flow: row wrap;
}

.c-tab__input {
  display: none;

  &:checked + .c-tab__label {
    border-bottom: 1px solid $color-white;

    + .c-tab__content {
      display: block;
    }

  }

}

.c-tab__label {
  margin: 0 10px 0 0;
  padding: 0.5em 10px;
  border: 1px solid $color-dark-gray;
  background: $color-white;
  font-size: 1.1em;
  font-weight: normal;
  cursor: pointer;
  z-index: 1;
  user-select: none;

  &:not(:first-of-type) {
    margin-left: -1px;
  }

}

.c-tab__content {
  display: none;
  order: 1;
  width: 100%;
  margin-top: -1px;
  padding: 10px;
  border: 1px solid $color-dark-gray;
  background: $color-white;

  @include bp(screen2) {
    padding: 30px;
  }

}
