// ##### Tabs Component ##### //

$tab-height: $element-height;

.c-tabs {
  // empty
}

%c-tabs__buttons {
  min-height: $tab-height;
  margin-right: $spacing-base;
  margin-bottom: $spacing-base;
  padding: 0 $spacing-sm;
  border: none;
  background-color: $color-light-gray;
  font-size: 1.1em;
  user-select: none;
}

.c-tabs__button {
  @extend %c-tabs__buttons;
}

.c-tabs__button--active {
  @extend %c-tabs__buttons;
  background-color: $color-white;
}

.c-tabs__main-list {
  display: grid;
  grid-template-columns: repeat(2, auto);

  @include bp(screen1) {
    grid-template-columns: repeat(3, auto);
  }

  @include bp(screen3) {
    grid-template-columns: repeat(5, auto);
  }

}

.c-tabs__button-more {
  @extend %c-tabs__buttons;
  display: none;
  width: 40px;
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @supports (display: grid) {
    display: block;
  }

  @include bp(screen1) {
    grid-column: 3 / 4;
  }

  @include bp(screen3) {
    display: none;
  }

}

.c-tabs__panel {
  margin-top: (-$spacing-base);
  padding: $spacing-sm;
  background-color: $color-white;

  @include bp(screen3) {
    padding: $spacing-md;
  }

}
