// ##### Tab Component ##### //

$tab-height: $element-height;
$tab-spacing: 2px;

.c-tab {
  // empty
}

%c-tab__button {
  height: $tab-height;
  margin-right: $tab-spacing;
  margin-bottom: $tab-spacing;
  padding: 0 $spacing-sm;
  border: none;
  background-color: $color-dark-gray;
  color: $color-white;
  line-height: $tab-height;
  user-select: none;
}

.c-tab__list {
  display: flex;
  flex-wrap: wrap;

  button {
    @extend %c-tab__button;

    @include bp(screen3) {
      margin-bottom: 0;
    }

  }

}

.c-tab__details {
  @extend %c-tab__button;
}
