// ##### Tabs Component ##### //

$tab-height: $element-height;
$tab-spacing: 2px;

.c-tabs {
  // empty
}

%c-tabs__button {
  height: $tab-height;
  margin-right: $tab-spacing;
  margin-bottom: $tab-spacing;
  padding: 0 $spacing-sm;
  border: none;
  background-color: $color-dark-gray;
  color: $color-white;
  line-height: $tab-height;
  user-select: none;
}

.c-tabs__list {
  display: flex;
  flex-wrap: wrap;

  button {
    @extend %c-tabs__button;

    @include bp(screen3) {
      margin-bottom: 0;
    }

  }

}

.c-tabs__details {
  position: relative;

  summary {
    @extend %c-tabs__button;
    position: absolute;
    width: 15px;
    text-align: center;

    @include bp(screen1) {
      display: none;
    }

  }

}

.c-tabs__details-buttons {
  margin-left: 37px;

  @include bp(screen1) {
    margin-left: 0;
  }

}

.c-tabs__panel {
  padding: $spacing-sm;
  background-color: $color-white;
}
