// ##### Thumbnail Component ##### //

.c-thumbnail {

  img {
    @extend %u-thumbnail;
  }

}

.lozad { // lozad.js class
  opacity: 0;
  transition: opacity, 1s;

  &[data-loaded='true'] {
    opacity: 1;
  }

}
