// ##### Toggle Content Component ##### //

$togglecontent-left-spacing: 25px;

.c-togglecontent {
  padding-left: $togglecontent-left-spacing;

  @include headings() {
    display: inline;
    font-size: 1.2em;
  }

  summary {
    position: relative;
    height: $element-height;
    margin-left: (-$togglecontent-left-spacing);
    padding-left: $togglecontent-left-spacing;
    line-height: $element-height;
    user-select: none;

    &::after { // ::before can't be used; see resets.scss
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 8px;
      background: url('../images/icon_plus-black.svg') no-repeat center / 16px;
      content: '';
    }

  }

  &[open] {

    summary {

      &::after {
        background-image: url('../images/icon_minus-black.svg');
      }

    }

  }

}
