// ##### Unit Carousel Component ##### //

.c-unitcarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-unitcarousel__scrollbox {
  height: 300px;
  margin-bottom: $spacing-sm;
  overflow: scroll;
}

%c-unitcarousel__button {
  border: $bgreen; // placeholder declaration
}

.c-unitcarousel__button-up {
  @extend %c-unitcarousel__button;
  margin-bottom: $spacing-sm;
}

.c-unitcarousel__button-down {
  @extend %c-unitcarousel__button;
}

.c-unitcarousel__item {
  display: flex;
  flex-direction: column;
  padding: $spacing-sm;

  &:nth-child(odd) {
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
    background-color: $color-light-teal;
  }

  @include headings() {
    @extend %o-heading3a;

    a {
      @extend %o-textlink__secondary;
    }

  }

}

.c-unitcarousel__item-authorlist {
  // no styles
}

%c-unitcarousel__item-type {
  margin-left: auto;
  font-size: 0.9em;
}

.c-unitcarousel__item-type--article {
  @extend %c-unitcarousel__item-type;
}

.c-unitcarousel__item-type--book {
  @extend %c-unitcarousel__item-type;
}

.c-unitcarousel__item-type--thesis {
  @extend %c-unitcarousel__item-type;
}

.c-unitcarousel__item-type--multimedia {
  @extend %c-unitcarousel__item-type;
}
