// ##### Unit Item Objects ##### //

$unititem-long-length: 15em;
$unititem-short-length: $unititem-long-length * 0.8;

%o-unititem {
  display: inline-block;
  background-color: $color-light-teal;
  text-decoration: none;
}

.o-unititem--horz {
  @extend %o-unititem;
  width: $unititem-long-length;
  height: $unititem-short-length;
}

.o-unititem--vert {
  @extend %o-unititem;
  width: $unititem-short-length;
  height: $unititem-long-length;
}

.o-unititem__title {
  display: flex;
  align-items: flex-end;
  height: 50%;
  padding: $spacing-sm $spacing-sm $spacing-base;
  background-color: $color-teal;
  color: $color-white;
  line-height: $line-height;
}

.o-unititem__author {
  @extend %no-bullet-ul;
  height: 3.5em; // truncate to 2 lines per jquery.dotdotdot
  padding: $spacing-md $spacing-sm 0;
  color: $color-black;
  overflow: hidden;

  li {
    display: inline-block;

    &:not(:last-child) {

      &::after {
      content: ';\00a0'; // semicolon with no-break space
      }

    }

  }

}
