// ##### Unit Carousel Component ##### //

.c-unitcarousel {
  @extend %clearfix;
  padding: $spacing-md;
  background-color: $color-white;
  box-shadow: $box-shadow1;

  @include bp(screen1) {

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 15%;
    }

  }

}

.c-unitcarousel__heading {
  @extend %o-heading3;

  @include bp(screen1) {

    @supports (display: grid) {
      grid-column: 1 / 3;
    }

  }

}

.c-unitcarousel__carousel {

  @include bp(screen1) {

    @supports (display: grid) {
      grid-row: 2 / 4;
    }

  }

}

.c-unitcarousel__item {
  display: flex;
  align-items: center;
  height: $unitcarousel-height;
  margin-left: $spacing-md;
}

%c-unitcarousel__stats {
  width: 50%;
  background-color: $color-white;

  @include bp(screen1) {

    @supports (display: grid) {
      align-self: center;
      width: auto;
    }

  }

}

.c-unitcarousel__stats-item {
  @extend %c-unitcarousel__stats;
  float: left;
}

.c-unitcarousel__stats-view {
  @extend %c-unitcarousel__stats;
  float: right;
}
