// ##### Content Well Component ##### //

.c-well {
  margin-bottom: $spacing-md;
  padding: $spacing-sm;
  background-color: lighten($color-teal, 60%);

  @include bp(screen2) {
    padding: $spacing-md;
  }

}
