// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //


@import 'variables';
@import 'mixins';
@import 'breakpoints';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Components ***** //

@import 'breadcrumb';
@import 'columnbox';
@import 'columns';
@import 'footer';
@import 'globalnav';
@import 'header';
@import 'infopages';
@import 'scholworks';
@import 'search';
@import 'sidebarnav';
@import 'textlink';

// ***** Layouts ***** //

@import 'about';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
	margin: 0 auto;
	padding: 10px;
	font-family: 'KievitWeb';
	overflow-x: hidden;
}
