// ##### Styles for eScholarship ##### //

// ***** Global Settings ***** //


@import 'variables';
@import 'mixins';
@import 'breakpoints';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Objects ***** //

@import 'button';
@import 'columnbox';
@import 'input';
@import 'textlink';

// ***** Components ***** //

@import 'breadcrumb';
@import 'campus';
@import 'checkbox';
@import 'columndivide';
@import 'columns';
@import 'export';
@import 'facetbox';
@import 'filter';
@import 'frontmatter';
@import 'footer';
@import 'header1';
@import 'header2';
@import 'infopages';
@import 'nav1';
@import 'nav2';
@import 'nav3';
@import 'pagination';
@import 'scholworks';
@import 'search1';
@import 'search2';
@import 'sidebarnav';
@import 'sort';
@import 'subheader';

// ***** Layouts ***** //

@import 'about';
@import 'searchlayout';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
	margin: 0 auto;
	padding: 10px;
	font-family: 'KievitWeb';
	overflow-x: hidden;

  @include bp(screen2) {
    background: lighten($color-light-gray, 10%);
  }

}

p {
	margin: 1em 0 0;
  line-height: 1.2em;
}
